.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 1rem;
}

.reset{
    background-color: rgb(89, 42, 165);
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}